.hiddenC {
    opacity: 0;
    transition: opacity 0.3s ease-out; /* Add transition for smooth opacity change */
    pointer-events: none; /* Hide pointer events for hidden elements */
  }
  
  .show {
    opacity: 1;
    transition: opacity 0.3s ease-in; /* Add transition for smooth opacity change */
    pointer-events: auto; /* Re-enable pointer events for visible elements */
  }